<!DOCTYPE html>
<html lang="en">
<center>
  <head>
    <meta charset="UTF-8">
    <title>News</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="../credentials.js"></script>
    <script src="../src/get-news-model.js"></script>
    <script src="../src/print-news-model.js"></script>
    <script src="../src/news-controller.js"></script>
  </head>
  <body>
    <div class='app'>
      <h1>The News</h1>
      <div id="singleStory"></div>
      <div id="listSection">
        <h2>Lots of News</h2>
        <div id="list"></div>
      </div>
    </div>
  </body>
</center>
</html>
